<header>
    <div class="wrap">
        <div class="logo">
            <a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/logo-composer-transparent.png' | prepend: site.baseurl }}" /></a>
            <h1>Composer korean docs<small>Composer 의 한글 매뉴얼입니다.</small></h1>
        </div>
        <div class="btn_area">
            <a class="button" href="https://github.com/xpressengine/Composer-korean-docs/tree/master/KR">View on Github</a>
            <a class="button" href="https://github.com/xpressengine/Composer-korean-docs.git">Git Repository</a>
        </div>
    </div>
</header>
<div class="body docs">
    <div class="wrap clearfix">
        <aside class="sidebar">
            {% include sidebar.html %}
        </aside>
